.carousel-hight{
    min-height: 75vh;
}
.carousel-img{
    object-fit: cover;
}
.course-img{
    height:100%;
    width: 100%;
}
.course-card{
    width: 90%;
}
.course-button{
    margin-left: 300px;
}
.see-more-btn{
    margin-left: 400px;
}
.working-part{
    background-color: #c0e2ee;

}
.course-detalis{
    display: inline;
    
}
.read-more-button{
    margin-left:140px;

}
a{
    text-decoration: none;
}
.icon{
    margin-left:110px;
    color:goldenrod;
}
.footer{
    height:100%;
}
.footer-icon{
    font-size: 25px;
    
}

/* Responsive Start */

/*Small Device*/
@media only screen and (max-width:576px) {
    .course-img{
        width:100%;
    }
    .course-card{
        width:100%;
    }
    .course-button{
        margin-left:135px;
    }
    .read-more-button{
        margin-left:120px;
    }
    .register-button{
      margin-top:100px;

    }
    .Successfull{
        text-align: center;
        margin-left:95px;
    }
    .student-view-button{
        margin-left:135px ;
        margin-top: 20px;
    }
    .Students-Feedback{
        width: 100%;
        margin-top: 30px;
    }
    .icon{
        margin-left:100px;
    }
    .Students-Feedback{

        margin-left:30px;
        margin-right: 40px;
    
    }
    
    

}

/* Phone */
    @media only screen and (min-width:577px) and (max-width:768px){
        .course-img{
            width:100%;
        }
        .course-card{
            width:100%;
        }
        .course-button{
            margin-left: 212px;
        }
        .read-more-button{
            margin-left: 200px;
        }
        .working-img{
            width:150%!important;
            height:450px;
        }
        .register-button{
            margin-top:60px;
            margin-left:30px;
      
        }
        .student-view-button{
            margin-left: 220px;
            margin-top:30px;
        }
        .icon{
            margin-left: 259px;
        }


}

/*Tablet*/
    @media only screen and (min-width:769px) and (max-width:992px){
        .register-button{
            margin-top:60px;
            margin-left:80px;
        }
        .working-img{
            height: 600px;
        }
        
        .student-view-button{
            margin-left: 316px;
            margin-top:30px;
           
        }
        .icon{
            margin-left:100px;
        }
        .Students-Feedback{
            height: 450px;
            margin-top: 25px;

        }
}
/* Laptop */
@media only screen and (min-width:993px) and (max-width:1200px){
    .register-button{
        margin-left: 100px;
        margin-top: 50px;
    }
    .student-view-button{
        margin-left: 428px;
        margin-top:30px;
       
    }
    .Students-Feedback{
        height: 450px;
        margin-top: 25px;

    }
  
}

/* Desktop */
@media only screen and (min-width:1201px) and (max-width:1400px){
    .register-button{
        margin-left: 100px;
        margin-top: 50px;
    }
    .student-view-button{
        margin-left: 530px;
        margin-top:30px;
       
    }
    .Students-Feedback{
        height: 450px;
        margin-top: 25px;

    }
    .see-more-btn{
        margin-left: 473px;
    }

}

/* Extra Extra large */

@media only screen and (min-width:1401px) and (max-width:1920px){
    .register-button{
        margin-left: 100px;
        margin-top: 50px;
    }
    .student-view-button{
        margin-left: 612px;
        margin-top:30px;
       
    }
    .Students-Feedback{
        height: 450px;
        margin-top: 25px;

    }
    .see-more-btn{
        margin-left: 571px;
    }


}



/* Responsive End */
