.carousel-hight{
    min-height: 75vh;
}
.carousel-img{
    object-fit: cover;
}
.course-img{
    height:100%;
    width: 100%;
}
.course-card{
    width: 90%;
}
.course-button{
    margin-left: 300px;
}
.see-more-btn{
    margin-left: 400px;
}
@media screen and (max-width:688px){

    .course-img{
        width:100%;
    }
    .course-card{
        width:100%;
    }
    .course-button{
        margin-left:135px;
    }

}
@media screen and (min-width:689px)and(max-width:992px) {
    .course-img{
        width:100%;
    }
    .course-card{
        width:100%;
    }
}
    
